{% extends 'base.html.twig' %}

{% block title %}Mise à jour de l'événement{% endblock %}

{% block body %}
<div class="add-container container">
    <h1 class="update-title">Mise à jour de l'événement</h1>
    
    <div class="form-container">
        {{ form_start(eventForm) }}
            {{ form_widget(eventForm) }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-update">Mettre à jour</button>
                <a href="{{ path('app_delete_event', {'id': event.id}) }}" title="Supprimer l'événement" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');">
                    <i class="fas fa-trash-alt delete-icon"></i>
                </a>
            </div>
        {{ form_end(eventForm) }}
    </div>
</div>
{% endblock %}
